@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body ,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header ,footer{
    background-color: black;
    color: white;
}
header{
    padding:20px 0px ;

}
.main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}
.button{
    padding: 8px 24px;
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #555;
}
.button-wide{
    flex: 1;
}
button:hover{
    background-color: #666;
}
button:active{
    background-color: #999;
}
.border{
    border: 8px solid #555;
    border-radius: 5px;
}
.input-group{
    background-color: #222;
    color: white;
    padding: 20px 10px;
    text-align: right;
}
.input-group input{
    text-align: right;
    background-color: #444;
    color: white;
    box-shadow: none;
    border: 2px solid #444;
    line-height: 1.6em;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 24px;
}
.input-group p{
    line-height: 1.6em;
    padding: 2px 5px;
    font-size: 14px;
    height: 20px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.container{
    width: 80%;
    margin:auto;
}